.bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
    color: rgb(179, 146, 122);
    background-color: rgb(248, 236, 227) !important;
}

.bg-menu-theme .menu-inner>.menu-item.active:before {
    background: rgb(179, 146, 122) !important;
}